{% extends 'base.html' %}
{% block meta %}
<title>Mujur Reborn Admin</title>
{% endblock meta %}

{% block content %}
<h1>{{nama_aplikasi}}</h1>

{% if not product_entries %}
<p>Belum ada produk pada Mujur Reborn.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Kategori</th>
    <th>Harga</th>
    <th>Gambar Produk</th>
  </tr>

  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.nama_produk}}</td>
    <td>{{product_entry.kategori}}</td>
    <td>Rp{{product_entry.harga}}</td>
    <td><img src="{{product_entry.gambar_produk}}" alt="Gambar {{product_entry.nama_produk}}"></td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br/>

<a href="{% url 'edit:create_product_entry' %}">
  <button>Tambahkan Produk</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}