{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mujur Reborn Admin</title>
{% endblock meta %}
{% block content %}
{% include 'admin_navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-[#A0E7E5] flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="h-full w-full py-6  absolute top-0 left-0 z-20 md:hidden flex ">
      <div class="h-full min-w-4 bg-[#FFAEBC] mx-auto">
      </div>
    </div>
</div>
    <div class="flex flex-row justify-between items-center">
      <div class="">
        <div class="flex rounded-md items-center bg-[#FFAEBC] py-2 px-4 w-fit">
          <h1 class="text-black text-center">Last Login: {{last_login}}</h1>
        </div>
      </div>
      <div class="">
          <a href="{% url 'edit:create_product_entry' %}" class="bg-[#FFAEBC] hover:bg-[#FBE7C6] text-black font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
              Tambahkan Produk
          </a>
      </div>
    </div>
    
    {% if not product_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/formal.png' %}" alt="Formal" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">Belum ada produk pada Mujur Reborn.</p>
    </div>
    {% else %}
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
        {% for product_entry in product_entries %}
            {% include 'edit_card_product.html' with product_entry=product_entry %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}