{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block meta %}
<title>Pembayaran | Mujur Reborn</title>
{% endblock meta %}

{% block content %}
<div class="relative min-h-screen">
    <div class="absolute inset-0 bg-gray-50 z-0">
      <div class="absolute inset-0 opacity-[0.3]" 
        style="background-image: linear-gradient(rgba(68, 68, 69, 0.1) 1px, transparent 1px), 
        linear-gradient(to right, rgba(68, 68, 69, 0.1) 1px, transparent 1px);
        background-size: 100px 100px;">
      </div>
    </div>
<div class="flex flex-col min-h-screen">

<div class="container mx-auto px-4 py-8 text-center">
    <h1 class="text-3xl font-bold mb-6">Pembayaran</h1>

    {% if keranjang_items and pengiriman %}
    <div class="overflow-x-auto shadow-lg rounded-lg mb-8 bg-white p-6">
        <table class="min-w-full bg-white border border-gray-300 rounded-lg">
            <thead class="bg-gray-200 border-b-2 border-gray-400">
                <tr>
                    <th class="px-6 py-3 text-center text-sm font-semibold text-gray-700 uppercase border-r border-gray-300">Produk</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold text-gray-700 uppercase border-r border-gray-300">Harga Satuan</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold text-gray-700 uppercase border-r border-gray-300">Jumlah</th>
                    <th class="px-6 py-3 text-center text-sm font-semibold text-gray-700 uppercase">Subtotal Harga</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for item in keranjang_items %}
                <tr class="{% cycle 'bg-white' 'bg-gray-50' %} border-b border-gray-300 hover:bg-gray-100">
                    <td class="px-6 py-4 text-sm font-medium text-gray-900 text-center border-r border-gray-300">{{ item.product.nama_produk }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700 text-center border-r border-gray-300">Rp {{ item.product.harga|intdot }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700 text-center border-r border-gray-300">{{ item.quantity }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700 font-semibold text-center">Rp {{ item.get_subtotal|intdot }}</td>
                </tr>
                {% endfor %}
                <tr class="bg-gray-100 border-t-2 border-gray-400">
                    <td colspan="3" class="px-6 py-4 text-right font-semibold text-gray-700 border-r border-gray-300">Delivery Fee:</td>
                    <td class="px-6 py-4 text-gray-700 font-semibold text-center">Rp {{ delivery_fee|intdot }}</td>
                </tr>
                <tr class="bg-gray-100 border-t-2 border-gray-400">
                    <td colspan="3" class="px-6 py-4 text-right font-semibold text-gray-700 border-r border-gray-300">Total Harga:</td>
                    <td class="px-6 py-4 text-gray-800 font-bold text-center">Rp {{ total_harga|intdot }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <form method="POST" id="pembayaran-form" class="bg-white p-6 shadow-lg rounded-lg">
        {% csrf_token %}
        <h3 class="text-xl font-semibold mb-4 text-center">Metode Pembayaran:</h3>
        <div class="flex flex-col items-center space-y-4">
            <div class="flex items-center">
                <input type="radio" id="payment_method_1" name="payment_method" value="Kartu Kredit" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500" required>
                <label for="payment_method_1" class="ml-3 text-sm font-medium text-gray-700">Kartu Kredit</label>
            </div>
            <div class="flex items-center">
                <input type="radio" id="payment_method_2" name="payment_method" value="Kartu Debit" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                <label for="payment_method_2" class="ml-3 text-sm font-medium text-gray-700">Kartu Debit</label>
            </div>
            <div class="flex items-center">
                <input type="radio" id="payment_method_3" name="payment_method" value="Transfer Bank" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                <label for="payment_method_3" class="ml-3 text-sm font-medium text-gray-700">Transfer Bank</label>
            </div>
            <div class="flex items-center">
                <input type="radio" id="payment_method_4" name="payment_method" value="E-Wallet" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500">
                <label for="payment_method_4" class="ml-3 text-sm font-medium text-gray-700">E-Wallet</label>
            </div>
        </div>
    
        <button type="submit" class="mt-6 w-64 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75 transition-transform transform hover:scale-105">
            Bayar
        </button>
    </form>

    {% elif not keranjang_items %}
    <div class="text-center py-10">
        <img src="{% static 'image/keranjang_kosong.png' %}" alt="Empty Cart" class="mx-auto mb-4 w-1/3">
        <p class="text-gray-600 text-lg mb-4">Keranjang Anda kosong. Yuk tambahkan produk ke dalam keranjang!</p>
        <a href="{% url 'main:show_main' %}" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75">
            Tambahkan Produk Sekarang
        </a>
    </div>

    {% else %}
    <div class="text-center py-10">
        <img src="{% static 'image/pengiriman_kosong.png' %}" alt="Missing Shipping" class="mx-auto mb-8 w-1/6">
        <p class="text-gray-600 text-lg mb-4">Anda belum melengkapi data pengiriman. Silakan tambahkan informasi pengiriman!</p>
        <a href="{% url 'pengiriman:pengiriman' %}" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75">
            Lengkapi Pengiriman
        </a>
    </div>
    {% endif %}
    <footer class="mt-8 py-6 bg-gray-100 border-t z-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 z-10">
          <div class="flex flex-col items-center justify-between space-y-4 sm:flex-row sm:space-y-0">
            <div class="flex items-center space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-[#03d9ff]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
              </svg>
              <span class="text-gray-600 font-semibold">Mujur Reborn</span>
            </div>
            <p class="text-gray-500 text-sm">© 2024 Mujur Reborn. All rights reserved.</p>
            <div class="flex items-center space-x-2">
              <span class="text-gray-600 text-sm">Pembayaran Made By:</span>
              <a href="https://github.com/dickyybayu" class="text-gray-400 hover:text-gray-600 transition-colors">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </footer>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('pembayaran-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch("{% url 'pembayaran:process_payment_ajax' %}", {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        .then(response => {
            console.log("Response status:", response.status);
            return response.json();
        })
        .then(data => {
            console.log("Response data:", data);
            
            if (data.message === 'Payment successful!') {
                Swal.fire({
                    icon: 'success',
                    title: 'Berhasil!',
                    text: `Pembayaran berhasil dilakukan!`, 
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK'
                }).then(() => {
                    window.location.href = "{% url 'main:show_main' %}";
                });
            } else if (data.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: data.error,
                });
            }
        })
        .catch(error => {
            console.error('Error during fetch:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Terjadi kesalahan saat melakukan pembayaran.',
            });
        });
    });
</script>
{% endblock content %}
