{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mujur Reborn</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock meta %}
{% block content %}
{% include 'user_navbar.html' %}
<div id="addToCartModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden overflow-y-auto h-full w-full" style="z-index: 999;">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
      <div class="mt-3">
          <h3 class="text-lg font-medium text-gray-900" id="modalProductName"></h3>
          <div class="mt-2">
              <p class="text-gray-500" id="modalProductPrice"></p>
              <form id="addToCartForm" class="mt-4">
                  {% csrf_token %}
                  <div class="mb-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="id_quantity">
                          Jumlah
                      </label>
                      <input type="number" name="quantity" id="id_quantity"
                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          value="1" min="1">
                  </div>
                  <div class="flex items-center justify-between mt-4">
                      <button type="submit"
                          class="bg-[#FFAEBC] hover:bg-[#ff9eaf] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                          Tambah ke Keranjang
                      </button>
                      <button type="button" onclick="closeModal()"
                          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                          Batal
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-white flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="h-full w-full py-6  absolute top-0 left-0 z-20 md:hidden flex ">
      <div class="h-full min-w-4 bg-[#FFAEBC] mx-auto">
      </div>
    </div>
  </div>

    <div class="flex flex-row justify-between items-center mb-6">
      <div class="flex items-center space-x-4">
        <select class="border rounded p-2" id="filter-kategori">
          <option value="">Filter berdasarkan kategori</option>
          <option value="Dasi Instant">Dasi Instant</option>
          <option value="Dasi Manual">Dasi Manual</option>
          <option value="Dasi Kupu-Kupu">Dasi Kupu-Kupu</option>
          <option value="Jepitan Dasi">Jepitan Dasi</option>
        </select>
      </div>
      <div class="flex rounded-md items-center bg-[#444445] py-1 px-2 w-fit opacity-80">
        <h1 class="text-white text-center text-sm">Last Login at: {{last_login}}</h1>
      </div>
    </div>

    <div id="product_entry_cards" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full"></div>
</div>

<script>
  let currentProductId = null;

  function openModal(productId, productName, productPrice) {
      currentProductId = productId;
      document.getElementById('modalProductName').textContent = productName;
      document.getElementById('modalProductPrice').textContent = `Rp${productPrice}`;
      document.getElementById('addToCartModal').classList.remove('hidden');
  }

  function closeModal() {
      document.getElementById('addToCartModal').classList.add('hidden');
      document.getElementById('id_quantity').value = '1';
      currentProductId = null;
  }

  // AJAX form submission
  $(document).ready(function() {
      $('#addToCartForm').on('submit', function(e) {
          e.preventDefault();
          
          const formData = new FormData(this);
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

          $.ajax({
              url: `/keranjang/tambah-ke-keranjang-ajax/${currentProductId}/`,
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              headers: {
                  'X-CSRFToken': csrftoken
              },
              success: function(response) {
                  closeModal();
                  Swal.fire({
                      title: 'Berhasil!',
                      text: 'Produk berhasil ditambahkan ke keranjang',
                      icon: 'success',
                      confirmButtonColor: '#FFAEBC'
                  }).then((result) => {
                      closeModal();
                  });
              },
              error: function(xhr, errmsg, err) {
                  Swal.fire({
                      title: 'Error!',
                      text: 'Gagal menambahkan produk ke keranjang',
                      icon: 'error',
                      confirmButtonColor: '#FFAEBC'
                  });
              }
          });
      });
  });



  async function getProductEntries(){
    return fetch("{% url 'edit:show_json' %}").then((res) => res.json())
  }



  async function refreshProductEntries(kategoriTerpilih = '') {
    document.getElementById("product_entry_cards").innerHTML = "";
    document.getElementById("product_entry_cards").className = "";
    const productEntries = await getProductEntries();
    let htmlString = "";
    let classNameString = "";

    const filteredEntries = kategoriTerpilih
        ? productEntries.filter(item => item.fields.kategori === kategoriTerpilih)
        : productEntries;

    if (filteredEntries.length === 0) {
        classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
        htmlString = `
          <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <img src="{% static 'image/formal.png' %}" alt="Formal" class="w-32 h-32 mb-4"/>
            <p class="text-center text-gray-600 mt-4">Belum ada produk pada Mujur Reborn.</p>
          </div>
        `;
    } else {
        classNameString = "grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full";
        filteredEntries.forEach((item) => {
            const nama_produk = DOMPurify.sanitize(item.fields.nama_produk);
            const kategori = DOMPurify.sanitize(item.fields.kategori);
            htmlString += `
            <div class="relative break-inside-avoid">
              <div class="relative top-5 bg-[#FBE7C6] shadow-md rounded-lg mb-6 break-inside-avoid flex flex-col transform transition-transform duration-300">
                <div class="bg-[#FFAEBC] text-gray-800 p-4 rounded-t-lg border-b-2 border-[#FFAEBC]">
                  <h3 class="font-bold text-xl mb-2">${nama_produk}</h3>
                </div>
                <div class="p-4">
                  <p class="font-semibold text-lg mb-2">Kategori</p>
                  <p class="text-gray-700 mb-2">
                    <span class="bg-[linear-gradient(to_bottom,transparent_0%,transparent_calc(100%_-_1px),#CDC1FF_calc(100%_-_1px))] bg-[length:100%_1.5rem] pb-1">${kategori}</span>
                  </p>
                  <div class="mt-4">
                    <p class="font-semibold text-lg mb-2">Harga</p>
                    <p class="text-gray-700 mb-2">
                      <span class="bg-[linear-gradient(to_bottom,transparent_0%,transparent_calc(100%_-_1px),#CDC1FF_calc(100%_-_1px))] bg-[length:100%_1.5rem] pb-1">Rp${item.fields.harga}</span>
                    </p>
                    <img src="${item.fields.gambar_produk}" alt="Gambar ${nama_produk}">
                  </div>
                </div>
              </div>
              <div class="absolute top-0 -right-4 flex space-x-1">
                <button onclick="openModal('${item.pk}', '${nama_produk}', '${item.fields.harga}')" class="bg-green-600 hover:bg-green-500 text-white rounded-full p-2 transition duration-300 shadow-md">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 3a1 1 0 011 1v6h6a1 1 0 110 2h-6v6a1 1 0 01-2 0v-6H3a1 1 0 110-2h6V4a1 1 0 011-1z" />
                  </svg>
                </button>
              </div>
            </div>
            `;
        });
    }
    document.getElementById("product_entry_cards").className = classNameString;
    document.getElementById("product_entry_cards").innerHTML = htmlString;
}

refreshProductEntries();



document.getElementById("filter-kategori").addEventListener('change', async function(){
  const kategoriTerpilih = this.value;
  refreshProductEntries(kategoriTerpilih)
});
</script>

{% endblock content %}